services:
  backend_{{ instance_name }}:
    build: ../../backend_node
    container_name: backend_{{ instance_name }}
    ports:
      - "{{ backend_port }}:4000"
    env_file:
      - .env
    depends_on:
      - mysql_{{ instance_name }}

  mysql_{{ instance_name }}:
    image: mysql:8
    container_name: mysql_{{ instance_name }}
    ports:
      - "{{ mysql_port }}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: asignaciones
    volumes:
      - ./mysql_data:/var/lib/mysql