<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Solicitud de Instancia</title>
</head>
<body>
    <div class="login-container container mt-5">
        <form id="instanceForm" method="POST" action="/solicitar"">
            <div class="form-group">
                <label>Correo</label>
                <input type="email" name="correo" class="form-control" placeholder="Correo" required>
            </div>
            <div class="form-group mt-3">
                <label>Nombre de la instancia</label>
                <input type="text" name="instancia" class="form-control" placeholder="Instancia" required>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Solicitar</button>
        </form>
    </div>
</body>
</html>
